@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #1b2e28;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231c4a47' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header{
  background:#007261;
  padding:20px;
}

header >h1{
  color:#1b2e28;
  text-align: center;
  font-family: asap, sans-serif;
}

.scoreboard{
  margin: 20px auto;
  border:3px solid;
  border-color: #1c4a47;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color:white;
  font-size: 40px;
  padding:15px 20px;
  font-family: asap, sans-serif;
  position:relative;
}

.badge{
  background:#007261;
  color:white;
  font-size: 14px;
  padding: 2px 18px;
  font-family: asap, sans-serif;
}

#user-label{
  position:absolute;
  top:30px;
  left:-30px;
}

#computer-label{
  position:absolute;
  top:30px;
  right:-39px;
}

.result{
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-family: asap, sans-serif;
  font-weight: bold;
}

.choices {
  margin: 50px 0px;
  text-align: center;
}

.choice {
  border: 4px solid;
  border-color: #1c4a47;
  border-radius: 50%;
  padding: 20px;
  margin: 0 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background:#202020;
}

#action-message {
  text-align: center;
  color: #007261;
  font-family: asap, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.green-glow{
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow{
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow{
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}
